<div class="container-fluid">
  <div class="row question-controller">

    <div class="col-md-3 col-sm-4 col-xs-10 col-md-offset-3 col-sm-offset-2 col-xs-offset-1">
      <div id=lighting-container>
        <h2 id="lightning-label">Lightning</h2>
        <div id="rules-container">
          <h4>Rules</h4>
          <ul>
            <li>Guess if charator is from Marvel or DC</li>
            <li>60 seconds</li>
            <li>If you answer wrong, game over!</li>
            <li>100 points for every correct Answer</li>
          </ul>
        </div>
        <a href="/#/lightning" id="play-lightning" class="btn">Play</a>
      </div>
    </div>
    <div class="col-md-3 col-sm-4 col-xs-10 col-xs-offset-1 col-sm-offset-0">
      <div id="more-modes">
        <h2>More Modes Coming Soon!</h2>
        <p class="contact">Contact: fs.felix.sun@gmail.com</p>

      </div>
    </div>
      
    </div>
  </div>
</div>

